body {
    background: #FFDEBF;
    display: flex; 
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
#info-bottom {
    color: #004A78;
    align-self: flex-end; 
    padding-bottom: 2rem;
    padding-left: 1rem;
    opacity: 50%;
}

.title {
    margin: 0;
    font-family: 'Abril Fatface', cursive;
    font-size: 36px;
}

.mini-info {
    margin: 0;
    font-family: 'Arapey', serif;
    font-size: 18px;
    font-weight: 100;
}

.mini-info.instrucao {
    width: 60%;
    text-align: center;
    color: #004A78;
    font-weight: 300;
}